.movie {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #222222;
}

.movie__trailer-link {
    height: 151px;
    transition: opacity .1s linear .1s;
    opacity: 1;
}

.movie__trailer-link:hover {
    cursor: pointer;
    opacity: .7;
}

.movie__image {
    width: 100%;
    height: inherit;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: center;
}

.movie__info {
    display: grid;
    grid-template-columns: 1fr 12px;
    column-gap: 12px;
    row-gap: 10px;
    padding: 14px 12px;
}

.movie__title {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    margin: 0;
}

.movie__duration {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    margin: 0;
    color: #8B8B8B;
}

/* .select-btn-container {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: relative;
    cursor: pointer;
    transition: .1s linear .1s;
}

.select-btn-container:hover {
    opacity: .7;
} */

.select-btn {
    display: inline-block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    transition: .1s linear .1s;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color .1s linear .1s;
    margin: 0;
}

.select-btn:hover {
    opacity: .7;
}

.select-btn_active {
    background-color: #2BE080;
}

.remove-btn {
    background: url(../../images/remove-movie-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-style: none;
}

@media screen and (max-width: 1240px) {
    .movie__trailer-link {
        height: 190px;
    }
}

@media screen and (max-width: 600px) {
    .movie__trailer-link {
        height: 168px;
    }
}
