.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found__container {
    display: flex;
    flex-direction: column;
}

.not-found__title {
    font-size: 140px;
    line-height: 169px;
    font-weight: 400;
    margin: 246px 0 5px;
    text-align: center;
}

.not-found__text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin: 0 0 5px;
    text-align: center;
}

.not-found__link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #4285F4;
    text-decoration: none;
    text-align: center;
    margin: 184px 0 60px;
    border-style: none;
    background-color: transparent;
    width: max-content;
}

.not-found__link:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .not-found__title {
        margin: 408px 0 5px;
    }
}

@media screen and (max-width: 320px) {
    .not-found__container {
        height: calc(100vh - 45px);
        justify-content: center;
    }

    .not-found__title {
        font-size: 80px;
        line-height: 97px;
        margin: 0 0 10px;
    }

    .not-found__text {
        font-size: 12px;
        line-height: 14px;
    }

    .not-found__link {
        margin: 0 0 30px;
    }
}